body {
	margin: 16px;
}
h4 {
	color: gray;
}
.tab ul {
	list-style: none;
	height: 25px;
	font-size: 12px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.tab li {
	list-style: none;
	float: left;
	height: 24px;
	width: 160px;
	line-height: 24px;
	border: 1px solid #CCC;
	border-bottom: none;
	background: #eee;
	margin-left: 8px;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}
.tab > ul > a {
	color: black;
	text-decoration: none;
	float: left;
	height: 24px;
	width: 160px;
	line-height: 24px;
	border: 1px solid #CCC;
	border-bottom: none;
	background: #eee;
	margin-left: 8px;
	border-radius: 5px 5px 0px 0px;
}
.tab li.selected, .tab a.selected {
	height: 25px;
	background: white;
}
.tab > div {
	border: 1px solid #CCC;
	padding: 16px;
	border-radius: 5px;
}
.hidden {
	display: none;
}
.tab {
	min-width: 520px;
}
.tab > div {
	min-width: fit-content;
}
#material {
	border-collapse: collapse;
}
#material input[type="number"] {
	width: 100px;
}
#material [name="secretary"] {
	width: 100px;
}
.item {
	border-radius: 5px;
	margin: 8px 4px;
	padding: 2px 4px;
	
}
select#lang {
	width: 75px;
}
.success {
	background: #C0FFC0;
}
.failtr {
	background: #FFC0C0;
}
.fail {
	background: #FFC0C0;
	display: none;
}
#gend {
	font-size: 14px;
}
#gend > div > p {
	margin: 8px 0px 8px 100px;
	text-indent: -100px;
}
button {
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
button:not(.selected) {
	background: #DDD;
	border: 2px outset;
}
.type {
	font-weight: bold;
}
#results {
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 8px;
}
.resulth {
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0px 0px;
	background: #eee;
	padding: 8px;
}
.details {
	font-weight: bold;
	float: right;
}
.resultb {
	margin-bottom: 8px;
	border: 1px solid #ccc;
	padding: 8px;
	border-top: none;
	border-radius: 0px 0px 5px 5px;
}
.resultb table {
	border-collapse: collapse;
	border: black;
}
.mat {
	width: 80px;
}
.sort {
	float: right;
	cursor: pointer;
	color: gray;
}
.sorting {
	float: right;
	cursor: pointer;
	color: black;
}
#probability {
	border-collapse: collapse;
	border: 2px solid;
}
#probability td, #probability th {
	border: 1px solid;
}
#probability .lb {
	border-left: 2px solid;
}
.notice {
	color: red;
	font-weight: bold;
}

.type0 { background: #D15B5B; }
.type1 { background: #CC3D3D; }
.type2 { background: #C22222; }
.type3 { background: #FFEA00; }
.type4 { background: #66CC77; }
.type5 { background: #60BF73; }
.type6 { background: #D15B5B; }
.type7 { background: #5887AB; }
.type8 { background: #66CC77; }
.type9 { background: #65BCFF; }
.type10 { background: #F36D6D; }
.type11 { background: #FFEA00; }
.type12 { background: #8FCC99; }
.type13 { background: #E29734; }
.type14 { background: #7ECCD8; }
.type15 { background: #FFC44D; }
.type16 { background: #997EAE; }
.type17 { background: #66CC77; }
.type18 { background: #A0A0A0; }

button.type0.selected { border: 2px inset #D15B5B; }
button.type1.selected { border: 2px inset #CC3D3D; }
button.type2.selected { border: 2px inset #C22222; }
button.type3.selected { border: 2px inset #FFEA00; }
button.type4.selected { border: 2px inset #66CC77; }
button.type5.selected { border: 2px inset #60BF73; }
button.type6.selected { border: 2px inset #D15B5B; }
button.type7.selected { border: 2px inset #5887AB; }
button.type8.selected { border: 2px inset #66CC77; }
button.type9.selected { border: 2px inset #65BCFF; }
button.type10.selected { border: 2px inset #F36D6D; }
button.type11.selected { border: 2px inset #FFEA00; }
button.type12.selected { border: 2px inset #8FCC99; }
button.type13.selected { border: 2px inset #E29734; }
button.type14.selected { border: 2px inset #7ECCD8; }
button.type15.selected { border: 2px inset #FFC44D; }
button.type16.selected { border: 2px inset #997EAE; }
button.type17.selected { border: 2px inset #66CC77; }
button.type18.selected { border: 2px inset #A0A0A0; }
